<div class="table-wrapper">
  <p id="notice"><%= notice %></p>
  <table class="fl-table">
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Department</th>
        <th>Title</th>
        <th>Email</th>
        <th>Phone</th>
        <% if user_signed_in? %>
          <th colspan="3">Edit Operations</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @employees.order(lastname: :asc).each do |employee| %>
        <tr>
          <td><%= employee.lastname %></td>
          <td><%= employee.firstname %></td>
          <td><%= employee.department.nil? ? "" : employee.department.name %></td>
          <td><%= employee.title %></td>
          <td><%= link_to employee.email, "mailto:#{employee.email}" %></td>
          <td><%= employee.phone %></td>
          <% if user_signed_in? %>
            <td><%= link_to 'Show', employee %></td>
            <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
            <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
     

