<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

 <div class="form-row"> 
  <%= form.label :Current_Department %>
  <%= (@employee.department.nil? ? "None Assigned" : @employee.department.name) %>
</div>

<div class="form-row">
  <%= form.label :Change_dept_to %>
  <%= form.collection_select :department_id, Department.order(:name), :id, :name %>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
