<%= form_for(@department) do |f| %>
  <!-- Include the authenticity token field -->
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
        <% @department.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <% if action_name != 'show' %>
  <div class="actions">
    <%= f.submit %>
  </div>
 <% end %>
<div class="nav2">
<a href="<%= departments_path %>">Back to departments list</a>
</div> 
<% end %>