<h1>Edit Department</h1>

<form action="<%= department_path(@department) %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <%= csrf_meta_tags %>

  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>
      <ul>
        <% @department.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <label for="department_name">Name:</label>
    <input type="text" id="department_name" name="department[name]" value="<%= @department.name %>">
  </div>

  <div>
    <label for="department_description">Description:</label>
  </div>

  <div>
    <input type="submit" value="Update Department">
  </div>
</form>

<a href="<%= departments_path %>">Back</a>
