<h2>Departments List</h2>

<!-- app/views/departments/index.html.erb -->
<% if user_signed_in? %>
  <!-- display departments list -->

  <p id="notice"><%= notice %></p>
<p></p>
<div class="edit">Instructions:<br>
  - Use Edit controls to view, modify or delete a department <br>
  - To create a new department, use the link on right<br>
  - Note: you cannot delete a department that contains employees!<br>
</div>

  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th colspan="3">Edit Operations </th>
        </tr>
      </thead>

      <tbody>
        <% @departments.order(:name).each do |department| %>
          <tr>
            <td><%= department.id %></td>
            <td><%= department.name %></td>
            <td><%= link_to 'Show', department %></td>
            <td><%= link_to 'Edit', edit_department_path(department) %></td>
            <td><%= link_to 'Delete', department, method: :delete, data: { confirm: 'Are you sure? This cannot be undone!' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>Please sign in to view this page.</p>
<% end %>

