<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @departments.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @departments.name %>
</p>



<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
