<!DOCTYPE html>
<html>
  <head>
    <title>Staff Directory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="container">
<div class="first">
<%= image_tag("uclogo.png", alt: "UC Logo") %></div> 
<div class="second">UC Libraries</div> 
<div class="nav">UC Libraries Home | Contact Us  </div>
<div class="contentwrap">
<!--added for devise gem, then changed per book to render partial-->
<!--<p class="notice"><%= notice %></p>-->
<!--<p class="alert"><%= alert %></p>-->
    <h1>Staff Directory</h1>
    <p> Click on column name to sort</p>
<p></p>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>
    </div>
          <% if user_signed_in? %>
   <div class="additional">
     <ul>Staff Tools
         <li><%= link_to 'Employees Home Page', employees_path %>
       <ul> 
           <li><%= link_to 'Create New Employee', new_employee_path %></li>
       </ul>
         </li>
     <li><%= link_to 'Departments Home', departments_path %>
         <ul> 
             <li><%= link_to 'Create New Department', new_department_path %></li>
       </ul>
     </li>
   </div>
    <% end %>
  <ul>
      </li>
</ul>
      <div class="footer">
      <div class="boxes">
        <div class="box box1">
          <div>
            <p> </p>
            <p> University of Cincinnati Libraries <br>
              PO Box 210033 <br>
              Cincinnati, Ohio <br>
              45221-0033 <br>
                <span class="dark"><a href="https://libraries.uc.edu/about/contact.html">Contact Us</a> </span>| <a href="https://libapps.libraries.uc.edu/main/contact/staff_directory.php">Staff Directory</a></p>
        
   <% if user_signed_in? %>
              <p> <i>You are signed in.</i> </p>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %> 
    <p class="signin"> <%= link_to "Staff Sign In", new_user_session_path %></p>
      <% end %>
          </div>
          <p>&nbsp;</p>
        </div>
        <div class="box box2">
      
        </div>
        
        <div class="box box3">
          
          <div>
            <div>
              <div>
                <div>
                  <div>
                    <p><strong>University of Cincinnati</strong> | 2600 Clifton Ave. | Cincinnati, OH 45221 | ph: 513-556-6000</p>
                    <p><a href="https://www.uc.edu/alert.html">Alerts</a> | <a href="https://www.uc.edu/about/publicsafety/clery/annual-security-report.html">Clery and HEOA Notice</a> | <a href="https://www.uc.edu/about/non-discrimination">Notice of Non-Discrimination</a> | <a href="https://www.uc.edu/about/ucit/about/accessibility/eaccessibility-form.html">eAccessibility Concern</a> | <a href="https://www.uc.edu/about/privacy">Privacy Statement</a> | <a href="https://www.uc.edu/freespeech">Free Speech</a> | <a href="http://commercialization.uc.edu/copyright-infringement">Copyright Information</a></p>
                    <p>&nbsp;</p>
                  </div>
                </div>
              </div>
            </div>
            <p>&nbsp;</p>
            <p>© 2023 University of Cincinnati</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
