<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Staff Directory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body><div class="container">
   <div class="first">
   <%= image_tag("uclogo.png", alt: "UC Logo") %></div>
   <div class="second">UC Libraries</div>
   <div class="nav"><a href="https://libraries.uc.edu">UC Libraries Home</a> | <a href="https://libraries.uc.edu/about/contact.html">Contact Us</a> | <%= link_to 'Staff Directory Home', root_path %>
   </div>
<div class="contentwrap">
  <div class="headerwrap">
   <h1>Staff Directory</h1>
   </div>
  <div class ="formwrap">
<% if alert %>
    <%= notice %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>
    </div>
  </div>
    <% if user_signed_in? %>
      <div class="additional">
        <ul>Staff Tools
          <li><%= link_to 'Employees Home Page', employees_path %></li>
          <li><%= link_to 'Create New Employee', new_employee_path %></li>
          <li><%= link_to 'Departments Home', departments_path %>
          <li><%= link_to 'Create New Department', new_department_path %></li>
       </ul>
      </div>
    <% end %>
    <%= render partial: 'layouts/footer' %>
    <div class="signin">
    <% if user_signed_in? %>

        <p class="message"><i>You are signed in.</i></p>
        <div class="signin-button">
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
        </div>
    <% else %>
      <div class="signin-button">
        <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
      </div>
    <% end %>
      </div>
  </div>
  </body>
</html>
