<!DOCTYPE html>
<html lang="en-us">

  <head>
    <title>Staff Directory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="container">
<div class="first">
<%= image_tag("uclogo.png", alt: "UC Logo") %></div> 
<div class="second">UC Libraries</div> 
<div class="nav"><a href="https://libraries.uc.edu">UC Libraries Home</a> | <a href="https://libraries.uc.edu/about/contact.html">Contact Us</a>
</div>
<div class="contentwrap">
<!--added for devise gem, then changed per book to render partial-->
<!--<p class="notice"><%= notice %></p>-->
<!--<p class="alert"><%= alert %></p>-->
    <h1>Staff Directory</h1>
  <p>
  <% if @page_title == "Staff Directory" %>
    <p>Click on column name to sort</p>
  <% end %>
</p>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>
    </div>
          <% if user_signed_in? %>
   <div class="additional">
     <ul>Staff Tools
       <li><%= link_to 'Employees Home Page', employees_path %></li>
       <ul> 
           <li><%= link_to 'Create New Employee', new_employee_path %></li>
       </ul>
         </li>
     <li><%= link_to 'Departments Home', departments_path %>
         <ul> 
             <li><%= link_to 'Create New Department', new_department_path %></li>
       </ul>
     </li>
   </div>
    <% end %>
    <%= render partial: 'layouts/footer' %>
   <div class ="signstatus">
     <div class="signin">
      <% if user_signed_in? %>
        <p class ="message"> <i>You are signed in.</i> </p>
         <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
         <% else %>
         <%= link_to "Login", new_user_session_path %>
       <% end %>
     </div>
   </div>
  </div>
  </body>
</html>
